<div class="auth-layout md:flex lg:flex bg-primary-500">
  <div
    class="auth-layout__content md:w-1/2 lg:w-[50%] px-8 flex flex-col justify-between h-screen items-center self-stretch"
  >
    <div class="auth-layout__content-img cursor-pointer flex flex-col items-center justify-center w-full h-full">
      <div class="w-[55%] flex flex-col items-center gap-6">
        <a
          routerLink="/"
          class="logo cursor-pointer bg-no-repeat !bg-contain"
          [style.backgroundImage]="'url(assets/img/auth/total-search.svg)'"
        >
        </a>

        <div class="flex flex-col items-center justify-center w-full">
          <div class="place-self-center w-full">
            <!-- <router-outlet></router-outlet> -->
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    <div class="self-start text-neutral-400 h-[6rem] p-8">{{ 'AUTH.FOOTER' }}</div>
  </div>
  <div
    class="auth-layout__text-container hidden md:flex lg:flex lg:w-[50%] flex-1 h-screen bg-cover bg-no-repeat flex-col"
    [style.backgroundImage]="'url(assets/img/auth/bg-login.png)'"
  >
    <!-- <div class="flex flex-1 justify-end flex-col">
      <div class="w-3/4 text-7xl font-bold text-white tracking-wide leading-tight">
        {{ 'AUTH.WELCOME' | translate }}
      </div>
      <div
        class="text-2xl text-white tracking-wide text-gray-300 leading-8 mt-4"
        [innerHTML]="'AUTH.INTRO' | translate"
      ></div>
    </div> -->
  </div>
  <!-- <div class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
    <img
      loading="lazy"
      srcset="assets/img/auth/bg-login.png"
      class="grow self-stretch w-full aspect-[0.75] max-md:max-w-full"
    />
  </div> -->
</div>
